<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.keyvalueserver.project.mapper.KeyValueMapper">

    <insert id="insertOrUpdateKeyValue" parameterType="KeyValuePair">
        INSERT INTO key_value_pair (`key`, `value`)
        VALUES (#{key}, #{value})
        ON DUPLICATE KEY UPDATE `value` = #{value}
    </insert>

    <select id="getKeyValue" parameterType="string" resultType="string">
        SELECT `value` FROM key_value_pair WHERE `key` = #{key}
    </select>

    <delete id="deleteKeyValue" parameterType="string">
        DELETE FROM key_value_pair WHERE `key` = #{key}
    </delete>

</mapper>
